# {{contractName}}
{{#title}}
### {{title}}
{{/title}}
{{#notice}}
{{notice}}
{{/notice}}

{{#details}}
> {{details}}
{{/details}}

{{#constructor}}
## {{name}}
{{#notice}}
{{notice}}
{{/notice}}

{{#details}}
> {{details}}
{{/details}}
{{#inputs.length}}
Params:
{{#inputs}}
{{> input}}
{{/inputs}}
{{/inputs.length}}
{{/constructor}}

{{#fallback}}
## {{name}}
{{#attributes.length}}
**Attributes**: {{attributes}}
{{/attributes.length}}
{{/fallback}}

{{#events.length}}
## Events

{{#events}}
### {{fullName}}
#### {{signature}}
{{#inputs.length}}
Params:
{{#inputs}}
{{> input}}
{{/inputs}}
{{/inputs.length}}
--- 
{{/events}}
{{/events.length}}

{{#methods.length}}
## Methods
{{#methods}}
### {{fullName}}
#### {{signature}}

{{#notice}}
{{notice}}
{{/notice}}

{{#details}}
> {{details}}
{{/details}}

{{#attributes.length}}
**Attributes**: {{attributes}}
{{/attributes.length}}

{{#inputs.length}}
Params:
{{#inputs}}
{{> input}}
{{/inputs}}
{{/inputs.length}}

{{#outputs.length}}
Returns:
{{#result}}
> {{result}}
{{/result}}
{{#outputs}}
{{> output}}
{{/outputs}}
{{/outputs.length}}

--- 
{{/methods}}
{{/methods.length}}

[Back to the top ↑](#{{link}})