
{{#stack}}&nbsp;&nbsp;&nbsp;&nbsp;{{/stack}}{{{order}}}\. **{{name}}{{^name}}input_{{index}}{{/name}}** *of type \`{{type}}\`*{{#description}}- {{description}}{{/description}}
{{#components.length}}
{{#components}}
{{> input}}
{{/components}}
{{/components.length}}