
{{#stack}}&nbsp;&nbsp;&nbsp;&nbsp;{{/stack}}
{{order}}\. **{{name}}{{^name}}output_{{index}}{{/name}}** *of type \`{{type}}\`*
{{#components.length}}
{{#components}}
{{> output}}
{{/components}}
{{/components.length}}